.internshipsContainer {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .internshipsTitle {
    text-align: center;
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 30px;
  }
  
  .internshipCard {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .internshipCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  }
  
  .internshipCardTitle {
    font-size: 1.8rem;
    color: #34495e;
    margin-bottom: 10px;
  }
  
  .internshipCardCompany {
    font-size: 1.2rem;
    color: #16a085;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .internshipCardDescription {
    font-size: 1.1rem;
    color: #7f8c8d;
    margin: 10px 0;
  }
  
  .internshipDuration,
  .internshipLocation {
    font-size: 1rem;
    color: #95a5a6;
  }
  