.sidebar{
    flex:2;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position:sticky;
    top: 50px;  
    text-decoration : none;
}

::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-track{
    background-color: gray;
}
::-webkit-scrollbar-thumb{
    background-color: white;
}

.sidebarWrapper{
    
    list-style: none;
}

.sidebarList{
    padding: 0;
    margin: 0;
}

.sidebarListItem{
    display:flex;
    align-items: center;
    margin: 20px;
}

.sidebarIcon{
    margin-right: 15px;
}


.sidebarButton{
    width:150px;
    border:none;
    padding:20px;
    border-radius:5px;
    font-weight: 500;
}

.sidebarHr{
    margin:20px 0 0;
}

.sidebarFriendList{
    padding:0;
    margin:0;
    list-style: none;
}

.sidebarLink {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: inherit;
  text-align: left;
}

.sidebarLink:hover {
  background-color: #f0f2f5;
}